{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Информация</title>
    <link rel="stylesheet" href="{% static 'news_app/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'info' %}">Информация</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_article' %}">Добавить статью</a>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Информация о сайте</h1>
        <p>Это новостной сайт, созданный на Django.</p>
        <p>Всё права защищены.</p>
        <p>Спасибо за пользование нашим сайтом!</p>

    </main>
</body>
</html>