{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'news_app/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'info' %}">Информация</a>
            {% if user.is_authenticated %}
                <a href="{% url 'add_article' %}">Добавить статью</a>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Регистрация</button>
        </form>
    </main>
</body>
</html>